---
---

@import "{{ site.theme }}";
table {
  table-layout: fixed;
  width: 100%;
}
th, td {
  width: 50%;
  font-size: 75%;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}

@media screen and (max-width: 40em) {
  table {
    display: none;
  }
}
